<!DOCTYPE html>
<html>
  <head>
    <title>Diario de Estudos</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body class ='body'>
    <div class ='nav'>
      <%=render 'shared/nav' %>
    </div>
    <div class ="index">
      <div><%= notice %></div>
      <div><%=  alert %></div>
      <%= yield %>
    </div>

    <div class ='footer'>
        <%= render 'footer'%>
    </div>

  </body>
</html>
